{% capture part_im_path %}{{ site.url }}/assets/img/partners{% endcapture -%}
<!-- OUR PARTNERS -->
<section class="clients" id="partners">
  <div class="heading-center">
    <h2 class="section-heading">PARTNERS</h2>
    <p class="lead">Consortium institutions and institutional partners {{ site.data.partners.size }}</p>
    <hr>
  </div>
  <div class="container"><ul class="list-inline list-client-logo">
    {% for partner in site.data.partners %}{% if partner.active == "true" %}
    <li><a href="{{ partner.url }}"><img
      src="{{ part_im_path }}/{{ partner.img }}"
      title="{{ partner.title }}{% if partner.type != '' %} ({{ partner.type }}){% endif %}"
      {% if partner.width or partner.height %}
      style="{% if partner.width %}width:{{ partner.width }}px;{% endif %}{% if partner.height %}height:{{ partner.height }}px;{% endif %}"
      {% endif %}/>
    </a></li>
    {% endif %}{% endfor %}
  </ul></div>
</section>
<!-- END OUR PARTNERS -->
